{%extends 'base.html'%}
{% block title %}
        Ekart | Orders
{% endblock %}
{%block body%}
<div class="row m-3">
    <div class="col-md-9">
        <h5 class="bg-danger text-white p-2">Customer Details</h5>
        {% if user.is_authenticated%}
        <p><b>Name:</b>&nbsp; {{user.username}}</p>
        <p><b>Mobile:</b>&nbsp; 1234567890</p>
        <p><b>Email:</b>&nbsp; {{user.email}}</p>
        <br>
        {%endif%}
        <h5 class="bg-danger text-white p-2">Cart Details</h5>
        {%for x in items%}
        <div class="row m-3">
            <div class="col-md-4">
                <img src="{{x.product.image.url}}" alt="" width="100%" height="200px">
            </div>
            <div class="col-md-8">
                <p><b>Product Name:</b>&nbsp;{{x.product.product_name}}</p>
                <p><b>Product Price:</b>&nbsp;{{x.product.price}}</p>
                <p><b>Product Quantity:</b>&nbsp; {{x.quantity}}
                <!-- <a href="/updateqty/0/{{x.product.product_id}}"><button class="btn btn-danger">-</button></a>
                <input readonly="readonly" type="number" value="{{x.quantity}}">
                <a href="/updateqty/1/{{x.product.product_id}}"><button class="btn btn-danger">+</button></a>
                </p> -->
                <p><b>Product Details:</b>&nbsp;{{x.product.desc}}</p>
                <!-- <a href="/removeCart/{{x.product_id}}"><button type="submit" class="btn btn-danger">Remove</button></a>
                <a href=""><button type="submit" class="btn btn-danger">Buy</button></a> -->
            </div>
        </div>
        {%endfor%}
    </div>
    <div class="col-md-3">
        <h5 class="bg-danger text-white p-2">Total</h5>
        <p><b>Total Items({{length}}):</b>&nbsp;&nbsp;{{total}}</p>
        <hr>
        <p><b>Total Amount:</b>&nbsp;&nbsp;{{total}}</p>
        <a href="{%url 'payment' %}"><button class="btn btn-danger">Make Payment</button></a>
    </div>
    
</div>
{% endblock %}
